{% extends "main_project/base.html" %}
{% load bootstrap3 %}

{% block title %}<title>COS Asset Form</title>{% endblock %}

{% block header %}
<div class="header">
  {% if new %}
    <h1>COS Inventory | <strong>New Asset</strong></h1>
  {% elif duplicate %}
    <h1>COS Inventory | <strong>Copy Asset</strong></h1>
  {% else %}
    <h1>COS Inventory | <strong>Edit Asset</strong></h1>
  {% endif %}
</div>
{% endblock header %}

{% block content %}
<div class="forms">
  <form action="" method="POST" class="form">
    <div class="btn-group">
      <a href="javascript:history.go(-1)" class='btn btn-primary' role="button">{% bootstrap_icon "arrow-left" %} Back</a>
      <a href="{% url 'assets' %}" class='btn btn-info' role="button">{% bootstrap_icon "list" %} Assets</a>
      <button class='btn btn-warning' type="reset">{% bootstrap_icon "refresh" %} Reset</button>
      <button class='btn btn-success' type="submit">{% bootstrap_icon "save" %} Save</button>
    </div>
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="btn-group">
      <a href="javascript:history.go(-1)" class='btn btn-primary' role="button">{% bootstrap_icon "arrow-left" %} Back</a>
      <a href="{% url 'assets' %}" class='btn btn-info' role="button">{% bootstrap_icon "list" %} Assets</a>
      <button class='btn btn-warning' type="reset">{% bootstrap_icon "refresh" %} Reset</button>
      <button class='btn btn-success' type="submit">{% bootstrap_icon "save" %} Save</button>
    </div>
  </form>
</div>
{% endblock content %}