{% extends "main_project/base.html" %}
{% load bootstrap3 %}

{% block title %}<title>COS Asset Form</title>{% endblock %}

{% block header %}
<div class="header">
  <div class='btn-toolbar pull-right'>
    <div class='btn-group'>
      <a href="javascript:history.go(-1)" class='btn btn-default' role="button">{% bootstrap_icon "arrow-left" %} Back</a>
      <a href="{% url 'assets' %}" class='btn btn-info' role="button">{% bootstrap_icon "list" %} Assets</a>
    </div>
  </div>
  {% if new %}
  <h1>COS Inventory | <strong>New Asset</strong></h1>
  {% elif duplicate %}
  <h1>COS Inventory | <strong>Copy Asset</strong></h1>
  {% else %}
  <h1>COS Inventory | <strong>Edit Asset</strong></h1>
  {% endif %}
</div>
{% endblock header %}

{% block content %}
<div class="forms">
  <form action="" method="POST" class="form">
    <div class="form-group">
      <div class="btn-group">
        <button class='btn btn-primary' type="submit">{% bootstrap_icon "save" %} Save</button>
        <button class='btn btn-default' type="reset">{% bootstrap_icon "remove" %} Reset</button>
      </div>
    </div>
    {% csrf_token %}
    <div class="form-group">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Asset Info</strong></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              {%  bootstrap_field form.asset_tag %}
            </div>
            <div class="col-md-6">
              {%  bootstrap_field form.inventory_system %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              {%  bootstrap_field form.hardware_name %}
            </div>
            <div class="col-md-6">
              {%  bootstrap_field form.location %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Hardware Info</strong></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              {%  bootstrap_field form.vendor %}
            </div>
            <div class="col-md-6">
              {%  bootstrap_field form.vendor_serial_number %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              {%  bootstrap_field form.hardware_type %}
            </div>
            <div class="col-md-6">
              {%  bootstrap_field form.hardware_make %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              {%  bootstrap_field form.hardware_model %}
            </div>
            <div class="col-md-6">
              {%  bootstrap_field form.hardware_serial_number %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              {%  bootstrap_field form.network_connection %}
            </div>
            <div class="col-md-6">
              {%  bootstrap_field form.ip_address %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              {%  bootstrap_field form.mac_wired %}
            </div>
            <div class="col-md-6">
              {%  bootstrap_field form.mac_wireless %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              {%  bootstrap_field form.processor %}
            </div>
            <div class="col-md-6">
              {%  bootstrap_field form.harddrive %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              {%  bootstrap_field form.ram %}
            </div>
            <div class="col-md-6">
              {%  bootstrap_field form.graphics %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              {%  bootstrap_field form.os %}
            </div>
            <div class="col-md-6">
              {%  bootstrap_field form.os_arch %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>User Info</strong></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              {%  bootstrap_field form.user %}
            </div>
            <div class="col-md-6">
              {%  bootstrap_field form.curator %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              {%  bootstrap_field form.hardware_role %}
            </div>
            <div class="col-md-6">
              {%  bootstrap_field form.hardware_condition %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              {%  bootstrap_field form.department %}
            </div>
            <div class="col-md-6">
              {%  bootstrap_field form.org_code %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Purchase Info</strong></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              {%  bootstrap_field form.requisition_number %}
            </div>
            <div class="col-md-6">
              {%  bootstrap_field form.purchase_order %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              {%  bootstrap_field form.purchase_date %}
            </div>
            <div class="col-md-6">
              {%  bootstrap_field form.purchase_cost %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              {%  bootstrap_field form.eligible_upgrade %}
            </div>
            <div class="col-md-6">
              {%  bootstrap_field form.funded_by %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Domain Info</strong></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              {%  bootstrap_field form.active_directory %}
            </div>
            <div class="col-md-12">
              {%  bootstrap_field form.organizational_unit %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              {%  bootstrap_field form.sccm %}
            </div>
            <div class="col-md-3">
              {%  bootstrap_field form.jamf %}
            </div>
            <div class="col-md-3">
              {%  bootstrap_field form.scep %}
            </div>
            <div class="col-md-3">
              {%  bootstrap_field form.identity_finder %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Other Info</strong></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              {%  bootstrap_field form.notes %}
            </div>
            <div class="col-md-6">
              {%  bootstrap_field form.audited_date %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="btn-group">
        <button class='btn btn-primary' type="submit">{% bootstrap_icon "save" %} Save</button>
        <button class='btn btn-default' type="reset">{% bootstrap_icon "remove" %} Reset</button>
      </div>
    </div>
  </form>
</div>
{% endblock content %}