{% extends "main_project/base.html" %}
{% load bootstrap3 %}

{% block title %}<title>COS Asset Detail</title>{% endblock %}

{% block header %}
<div class="header">
  <div class='btn-toolbar pull-right'>
    <div class='btn-group'>
      <a href="javascript:history.go(-1)" class='btn btn-default' role="button">{% bootstrap_icon "arrow-left" %} Back</a>
      <a href="{% url 'assets' %}" class='btn btn-info' role="button">{% bootstrap_icon "list" %} Assets</a>
    </div>
  </div>
  <h1>COS Inventory | 
    <strong>{{ object.asset_tag }}</strong></h1>
</div>
{% endblock header %}

{% block content %}
<div class="panel" style="border:0; box-shadow: none;">
  <div class="btn-group">
    <a href="{% url 'asset_update' asset.id %}" class='btn btn-primary' role="button">{% bootstrap_icon "pencil" %} Edit</a>
    <a href="{% url 'asset_duplicate' asset.id %}" class='btn btn-default' role="button">{% bootstrap_icon "copy" %} Copy</a>
    <a href="{% url 'asset_audit' asset.id %}"class='btn btn-default' role="button">{% bootstrap_icon "ok" %} Audit</a>
    <a href="{% url 'asset_delete' asset.id %}" class='btn btn-default' role="button">{% bootstrap_icon "remove" %} Delete</a>
  </div>
</div>

<div class="table-responsive" style="border:0">
  <div class="panel panel-default">
    <div class="panel-heading"><strong><center>Asset Info</center></strong></div>
    <table class="table table-condensed table-hover">
      <tr>
        <th>Asset tag</th>
        {% if object.asset_tag and object.asset_tag.strip %}
        <td>{{ object.asset_tag }}</td>
        {% else %}
        <td class="danger"></td>
        {% endif %}
      </tr>
      <tr>
        <th>Inventory system</th>
        {% if object.inventory_system and object.inventory_system.strip %}
        <td>{{ object.get_inventory_system_display }}</td>
        {% else %}
        <td class="danger"></td>
        {% endif %}
      </tr>
      <tr>
        <th>Hardware Name</th>
        {% if object.hardware_name and object.hardware_name.strip %}
        <td>{{ object.hardware_name }}</td>
        {% else %}
        <td class="danger"></td>
        {% endif %}
      </tr>
      <tr>
        <th>Location</th>
        {% if object.location and object.location.strip %}
        <td>{{ object.location }}</td>
        {% else %}
        <td class="danger"></td>
        {% endif %}
      </tr>
    </table>
  </div>
</div>

<div class="table-responsive" style="border:0">
  <div class="panel panel-default">
    <div class="panel-heading"><strong><center>Hardware Info</center></strong></div>
    <table class="table table-condensed table-hover">
      <tr>
        <th>Vendor</th>
        {% if object.vendor and object.vendor.strip %}
        <td>{{ object.vendor }}</td>
        {% else %}
        <td class="info"></td>
        {% endif %}
      </tr>
      <tr>
        <th>Vendor Serial Number</th>
        {% if object.vendor_serial_number and object.vendor_serial_number.strip %}
        <td>{{ object.vendor_serial_number }}</td>
        {% elif object.hardware_serial_number and object.hardware_serial_number.strip %}
        <td class="info"></td>
        {% else %}
        <td class="danger"></td>
        {% endif %}
      </tr>
      <tr>
        <th>Hardware Type</th>
        {% if object.hardware_type and object.hardware_type.strip %}
        <td>{{ object.get_hardware_type_display }}</td>
        {% else %}
        <td class="danger"></td>
        {% endif %}
      </tr>
      <tr>
        <th>Hardware Make</th>
        {% if object.hardware_make and object.hardware_make.strip %}
        <td>{{ object.hardware_make }}</td>
        {% else %}
        <td class="danger"></td>
        {% endif %}
      </tr>
      <tr>
        <th>Hardware Model</th>
        {% if object.hardware_model and object.hardware_model.strip %}
        <td>{{ object.hardware_model }}</td>
        {% else %}
        <td class="danger"></td>
        {% endif %}
      </tr>
      <tr>
        <th>Hardware Serial Number</th>
        {% if object.hardware_serial_number and object.hardware_serial_number.strip %}
        <td>{{ object.hardware_serial_number }}</td>
        {% elif object.vendor_serial_number and object.vendor_serial_number.strip %}
        <td class="info"></td>
        {% else %}
        <td class="danger"></td>
        {% endif %}
      </tr>
      <tr>
        <th>Network Connection</th>
        {% if object.network_connection and object.network_connection.strip %}
        <td>{{ object.get_network_connection_display }}</td>
        {% else %}
        <td class="danger"></td>
        {% endif %}
      </tr>
      <tr>
        <th>IP Address</th>
        {% if object.ip_address and object.ip_address.strip %}
        <td>{{ object.ip_address }}</td>
        {% else %}
        <td class="info"></td>
        {% endif %}
      </tr>
      <tr>
        <th>MAC Address</th>
        {% if object.mac_wired and object.mac_wired.strip %}
        <td>{{ object.mac_wired }}</td>
        {% elif object.mac_wireless and object.mac_wireless.strip %}
        <td class="info"></td>
        {% else %}
        <td class="danger"></td>
        {% endif %}
      </tr>
      <tr>
        <th>MAC Wireless Address</th>
        {% if object.mac_wireless and object.mac_wireless.strip %}
        <td>{{ object.mac_wireless }}</td>
        {% elif object.mac_wired and object.mac_wired.strip %}
        <td class="info"></td>
        {% else %}
        <td class="danger"></td>
        {% endif %}
      </tr>
      <tr>
        <th>Processor</th>
        {% if object.processor and object.processor.strip %}
        <td>{{ object.processor }}</td>
        {% else %}
        <td class="danger"></td>
        {% endif %}
      </tr>
      <tr>
        <th>HDD</th>
        {% if object.harddrive and object.harddrive.strip %}
        <td>{{ object.harddrive }}</td>
        {% else %}
        <td class="danger"></td>
        {% endif %}
      </tr>
      <tr>
        <th>RAM</th>
        {% if object.ram and object.ram.strip %}
        <td>{{ object.ram }}</td>
        {% else %}
        <td class="danger"></td>
        {% endif %}
      </tr>
      <tr>
        <th>Graphics Card</th>
        {% if object.graphics and object.graphics.strip %}
        <td>{{ object.graphics }}</td>
        {% else %}
        <td class="info"></td>
        {% endif %}
      </tr>
      <tr>
        <th>OS</th>
        {% if object.os and object.os.strip %}
        <td>{{ object.get_os_display }}</td>
        {% else %}
        <td class="danger"></td>
        {% endif %}
      </tr>
      <tr>
        <th>OS Architecture</th>
        {% if object.os_arch and object.os_arch.strip %}
        <td>{{ object.get_os_arch_display }}</td>
        {% else %}
        <td class="danger"></td>
        {% endif %}
      </tr>
    </table>
  </div>
</div>

<div class="table-responsive" style="border:0">
  <div class="panel panel-default">
    <div class="panel-heading"><strong><center>User Info</center></strong></div>
    <table class="table table-condensed table-hover">
      <tr>
        <th>User</th>
        {% if object.user and object.user.strip %}
        <td>{{ object.user }}</td>
        {% else %}
        <td class="danger"></td>
        {% endif %}
      </tr>
      <tr>
        <th>Curator</th>
        {% if object.curator and object.curator.strip %}
        <td>{{ object.curator }}</td>
        {% else %}
        <td class="danger"></td>
        {% endif %}
      </tr>
      <tr>
        <th>Hardware Function</th>
        {% if object.hardware_role and object.hardware_role.strip %}
        <td>{{ object.get_hardware_role_display }}</td>
        {% else %}
        <td class="danger"></td>
        {% endif %}
      </tr>
      <tr>
        <th> Hardware Condition</th>
        {% if object.hardware_condition and object.hardware_condition.strip %}
        <td>{{ object.get_hardware_condition_display }}</td>
        {% else %}
        <td class="danger"></td>
        {% endif %}
      </tr>
      <tr>
        <th>Department</th>
        {% if object.department and object.department.strip %}
        <td>{{ object.get_department_display }}</td>
        {% else %}
        <td class="danger"></td>
        {% endif %}
      </tr>
      <tr>
        <th>Organization Code</th>
        {% if object.org_code and object.org_code.strip %}
        <td>{{ object.org_code }}</td>
        {% else %}
        <td class="danger"></td>
        {% endif %}
      </tr>
    </table>
  </div>
</div>

<div class="table-responsive" style="border:0">
  <div class="panel panel-default">
    <div class="panel-heading"><strong><center>Purchase Info</center></strong></div>
    <table class="table table-condensed table-hover">
      <tr>
        <th>Requisition Number</th>
        {% if object.requisition_number and object.requisition_number.strip %}
        <td>{{ object.requisition_number }}</td>
        {% else %}
        <td class="info"></td>
        {% endif %}
      </tr>
      <tr>
        <th>PO</th>
        {% if object.purchase_order and object.purchase_order.strip %}
        <td>{{ object.purchase_order }}</td>
        {% else %}
        <td class="info"></td>
        {% endif %}
      </tr>
      <tr>
        <th>Purchase Date</th>
        {% if object.purchase_date %}
        <td>{{ object.purchase_date|date:"m/d/Y" }}</td>
        {% else %}
        <td class="info"></td>
        {% endif %}
      </tr>
      <tr>
        <th>Cost</th>
        {% if object.purchase_cost and object.purchase_cost.strip %}
        <td>{{ object.purchase_cost }}</td>
        {% else %}
        <td class="info"></td>
        {% endif %}
      </tr>
      <tr>
        <th>Upgrade Eligibility After</th>
        {% if object.is_eligible_upgrade == 'is_eligible' %}
        <td class="danger">{{ object.eligible_upgrade_date|date:"m/d/Y" }}</td>
        {% elif object.is_eligible_upgrade == 'almost_eligible' %}
        <td class="warning">{{ object.eligible_upgrade_date|date:"m/d/Y" }}</td>
        {% elif object.is_eligible_upgrade == 'not_eligible' %}
        <td>{{ object.eligible_upgrade_date|date:"m/d/Y" }}</td>
        {% else %}
        <td class="info"></td>
        {% endif %}
      </tr>
      <tr>
        <th>Funded By <em>OR</em> Obtained through</th>
        {% if object.funded_by and object.funded_by.strip %}
        <td>{{ object.funded_by }}</td>
        {% else %}
        <td class="info"></td>
        {% endif %}
      </tr>
    </table>
  </div>
</div>

<div class="table-responsive" style="border:0">
  <div class="panel panel-default">
    <div class="panel-heading"><strong><center>Domain Info</center></strong></div>
    <table class="table table-condensed table-hover">
      <tr>
        <th>On Domain</th>
        {% if object.active_directory and object.active_directory.strip or object.active_directory == True %}
        <td>{{ object.active_directory }}</td>
        {% else %}
        <td class="danger"></td>
        {% endif %}
      </tr>
      <tr>
        <th>OU Location</th>
        {% if object.organizational_unit and object.organizational_unit.strip %}
        <td>{{ object.organizational_unit }}</td>
        {% else %}
        <td class="danger"></td>
        {% endif %}
      </tr>
      <tr>
        <th>Listed in SCCM</th>
        {% if object.sccm and object.sccm.strip or object.sccm == True %}
        <td>{{ object.sccm }}</td>
        {% else %}
        <td class="info"></td>
        {% endif %}
      </tr>
      <tr>
        <th>Listed in JAMF</th>
        {% if object.jamf and object.jamf.strip or object.jamf == True %}
        <td>{{ object.jamf }}</td>
        {% else %}
        <td class="info"></td>
        {% endif %}
      </tr>
      <tr>
        <th>Has SCEP Installed</th>
        {% if object.scep and object.scep.strip or object.scep == True %}
        <td>{{ object.scep }}</td>
        {% else %}
        <td class="info"></td>
        {% endif %}
      </tr>
      <tr>
        <th>Has Identity Finder</th>
        {% if object.identity_finder and object.identity_finder.strip or object.identity_finder == True %}
        <td>{{ object.identity_finder }}</td>
        {% else %}
        <td class="info"></td>
        {% endif %}
      </tr>
    </table>
  </div>
</div>

<div class="table-responsive" style="border:0">
  <div class="panel panel-default">
    <div class="panel-heading"><strong><center>Other Info</center></strong></div>
    <table class="table table-condensed table-hover">
      <tr>
        <th>Date Audited</th>
        {% if asset.is_past_due == 'audit_good' %}
        <td>{{ object.audited_date|date:"M. d, Y" }}</td>
        {% elif asset.is_past_due == 'audited_old' %}
        <td class="warning"></td>
        {% elif asset.is_past_due == 'need_audit' %}
        <td class="danger"></td>
        {% elif asset.is_past_due == 'missing_info' %}
        <td class="info"></td>
        {% elif asset.is_past_due == 'no_audit_performed' %}
        <td></td>
        {% endif %}
      </tr>
      <tr>
        <th>Notes</th>
        <td>{{ object.notes }}</td>
      </tr>
    </table>
  </div>
</div>

<div class="panel" style="border:0; box-shadow: none;">
  <div class="btn-group">
    <a href="{% url 'asset_update' asset.id %}" class='btn btn-primary' role="button">{% bootstrap_icon "pencil" %} Edit</a>
    <a href="{% url 'asset_duplicate' asset.id %}" class='btn btn-default' role="button">{% bootstrap_icon "copy" %} Copy</a>
    <a href="{% url 'asset_audit' asset.id %}"class='btn btn-default' role="button">{% bootstrap_icon "ok" %} Audit</a>
    <a href="{% url 'asset_delete' asset.id %}" class='btn btn-default' role="button">{% bootstrap_icon "remove" %} Delete</a>
  </div>
</div>
  

{% endblock content %}