{% extends "base_generic.html" %}
{% load bootstrap3 %}

{% block content %}
<p><h2><strong>{{ object.asset_tag }}</strong></h2></p>
<p>
  <div class="btn-group">
    <a href="{% url 'asset_update' asset.id %}" class='btn btn-default' role="button">{% bootstrap_icon "edit" %} Edit</a>
    <a href="{% url 'asset_duplicate' asset.id %}" class='btn btn-default' role="button">{% bootstrap_icon "copy" %} Copy</a>
    <a href="{% url 'asset_delete' asset.id %}" class='btn btn-danger' role="button">{% bootstrap_icon "remove" %} Delete</a>
    <a href="javascript:history.go(-1)" class='btn btn-primary' role="button">{% bootstrap_icon "arrow-left" %} Back</a>
    <a href="{% url 'assets' %}" class='btn btn-info' role="button">{% bootstrap_icon "list" %} Assets</a>
  </div>
</p>
<p>
<div class="table-responsive">
  <table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
      <tr>
        <th colspan="2"><center>{{ object.asset_tag }} Hardware Information</center></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Computer Name</th>
        <td>{{ object.hardware_name }}</td>
      </tr>
      <tr>
        <th>Equipment Function</th>
        <td>{{ object.hardware_role }}</td>
      </tr>
      <tr>
        <th> Equipment Condition</th>
        <td>{{ object.hardware_condition }}</td>
      </tr>
      <tr>
        <th>Inventory System</th>
        <td>{{ object.inventory_system }}</td>
      </tr>
      <tr>
        <th>Inventory System Up-To-Date</th>
        <td>{{ object.inventory_system_current }}</td>
      </tr>
      <tr>
        <th>User</th>
        <td>{{ object.user }}</td>
      </tr>
      <tr>
        <th>Curator</th>
        <td>{{ object.curator }}</td>
      </tr>
      <tr>
        <th>Department</th>
        <td>{{ object.department }}</td>
      </tr>
      <tr>
        <th>Organization Code</th>
        <td>{{ object.org_code }}</td>
      </tr>
      <tr>
        <th>Location</th>
        <td>{{ object.location }}</td>
      </tr>
      <tr>
        <th>Vendor</th>
        <td>{{ object.vendor }}</td>
      </tr>
      <tr>
        <th>Vendor Serial Number</th>
        <td>{{ object.vendor_serial_number }}</td>
      </tr>
      <tr>
        <th>PO</th>
        <td>{{ object.purchase_order }}</td>
      </tr>
      <tr>
        <th>Purchase Date</th>
        <td>{{ object.purchase_date }}</td>
      </tr>
      <tr>
        <th>Cost</th>
        <td>{{ object.purchase_cost }}</td>
      </tr>
      <tr>
        <th>Funded By</th>
        <td>{{ object.funded_by }}</td>
      </tr>
      <tr>
        <th>Type (MAC or PC)</th>
        <td>{{ object.hardware_type }}</td>
      </tr>
      <tr>
        <th>Make</th>
        <td>{{ object.hardware_make }}</td>
      </tr>
      <tr>
        <th>Model</th>
        <td>{{ object.hardware_model }}</td>
      </tr>
      <tr>
        <th>Serial Number</th>
        <td>{{ object.hardware_serial_number }}</td>
      </tr>
      <tr>
        <th>Network Connection</th>
        <td>{{ object.network_connection }}</td>
      </tr>
      <tr>
        <th>IP Address</th>
        <td>{{ object.ip_address }}</td>
      </tr>
      <tr>
        <th>MAC Address</th>
        <td>{{ object.mac_wired }}</td>
      </tr>
      <tr>
        <th>MAC Wireless Address</th>
        <td>{{ object.mac_wireless }}</td>
      </tr>
      <tr>
        <th>Processor</th>
        <td>{{ object.processor }}</td>
      </tr>
      <tr>
        <th>HDD</th>
        <td>{{ object.harddrive }}</td>
      </tr>
      <tr>
        <th>RAM</th>
        <td>{{ object.ram }}</td>
      </tr>
      <tr>
        <th>Graphics Card</th>
        <td>{{ object.graphics }}</td>
      </tr>
        <th>OS</th>
        <td>{{ object.os }}</td>
      </tr>
        <th>OS Architecture</th>
        <td>{{ object.os_arch }}</td>
      </tr>
        <th>On Domain</th>
        <td>{{ object.active_directory }}</td>
      </tr>
        <th>OU Location</th>
        <td>{{ object.organizational_unit }}</td>
      </tr>
        <th>Listed in SCCM</th>
        <td>{{ object.sccm }}</td>
      </tr>
        <th>Listed in JAMF</th>
        <td>{{ object.jamf }}</td>
      </tr>
        <th>Has SCEP Installed</th>
        <td>{{ object.scep }}</td>
      </tr>
        <th>Has Identity Finder</th>
        <td>{{ object.identity_finder }}</td>
      </tr>
        <th>Notes</th>
        <td>{{ object.notes }}</td>
      </tr>
        <th>Date Added</th>
        <td>{{ object.added_date }}</td>
      </tr>
        <th>Added By</th>
        <td>{{ object.added_by }}</td>
      </tr>
        <th>Date Modified</th>
        <td>{{ object.modified_date }}</td>
      </tr>
        <th>Modified By</th>
        <td>{{ object.modified_by }}</td>
      </tr>
    </tbody>
  </table>
</div>
</p>
<p>
  <div class="btn-group">
    <a href="{% url 'asset_update' asset.id %}" class='btn btn-default' role="button">{% bootstrap_icon "edit" %} Edit</a>
    <a href="{% url 'asset_duplicate' asset.id %}" class='btn btn-default' role="button">{% bootstrap_icon "copy" %} Copy</a>
    <a href="{% url 'asset_delete' asset.id %}" class='btn btn-danger' role="button">{% bootstrap_icon "remove" %} Delete</a>
    <a href="javascript:history.go(-1)" class='btn btn-primary' role="button">{% bootstrap_icon "arrow-left" %} Back</a>
    <a href="{% url 'assets' %}" class='btn btn-info' role="button">{% bootstrap_icon "list" %} Assets</a>
  </div>
</p>
{% endblock content %}