{% if object.inventory_system_current and object.inventory_system_current.strip %}
<tr class="success">
{% else %}
<tr class="danger">
{% endif %}
  <th>Inventory System Up-To-Date</th>
  <td>{{ object.inventory_system_current }}</td>
</tr>


      {% if object.hardware_name and object.hardware_name.strip %}
      <tr class="success">
      {% else %}
      <tr class="danger">
      {% endif %}
        <th>Hardware Name</th>
        <td>{{ object.hardware_name }}</td>
      </tr>
      {% if object.hardware_role and object.hardware_role.strip %}
      <tr class="success">
      {% else %}
      <tr class="danger">
      {% endif %}
        <th>Hardware Function</th>
        <td>{{ object.hardware_role }}</td>
      </tr>
      {% if object.hardware_condition and object.hardware_condition.strip %}
      <tr class="success">
      {% else %}
      <tr class="danger">
      {% endif %}
        <th> Hardware Condition</th>
        <td>{{ object.hardware_condition }}</td>
      </tr>
      {% if object.inventory_system and object.inventory_system.strip %}
      <tr class="success">
      {% else %}
      <tr class="danger">
      {% endif %}
        <th>Inventory System</th>
        <td>{{ object.inventory_system }}</td>
      </tr>
      {% if object.inventory_system_current and object.inventory_system_current.strip %}
      <tr class="success">
      {% else %}
      <tr class="danger">
      {% endif %}
        <th>Inventory System Up-To-Date</th>
        <td>{{ object.inventory_system_current }}</td>
      </tr>
      {% if object.user and object.user.strip %}
      <tr class="success">
      {% else %}
      <tr class="danger">
      {% endif %}
        <th>User</th>
        <td>{{ object.user }}</td>
      </tr>
      {% if object.curator and object.curator.strip %}
      <tr class="success">
      {% else %}
      <tr class="danger">
      {% endif %}
        <th>Curator</th>
        <td>{{ object.curator }}</td>
      </tr>
      {% if object.department and object.department.strip %}
      <tr class="success">
      {% else %}
      <tr class="danger">
      {% endif %}
        <th>Department</th>
        <td>{{ object.department }}</td>
      </tr>
      {% if object.org_code and object.org_code.strip %}
      <tr class="success">
      {% else %}
      <tr class="danger">
      {% endif %}
        <th>Organization Code</th>
        <td>{{ object.org_code }}</td>
      </tr>
      {% if object.location and object.location.strip %}
      <tr class="success">
      {% else %}
      <tr class="danger">
      {% endif %}
        <th>Location</th>
        <td>{{ object.location }}</td>
      </tr>
      {% if object.vendor and object.vendor.strip %}
      <tr class="success">
      {% else %}
      <tr class="danger">
      {% endif %}
        <th>Vendor</th>
        <td>{{ object.vendor }}</td>
      </tr>
      {% if object.vendor_serial_number and object.vendor_serial_number.strip %}
      <tr class="success">
      {% else %}
      <tr class="danger">
      {% endif %}
        <th>Vendor Serial Number</th>
        <td>{{ object.vendor_serial_number }}</td>
      </tr>
      {% if object.purchase_order and object.purchase_order.strip %}
      <tr class="success">
      {% else %}
      <tr class="info">
      {% endif %}
        <th>PO</th>
        <td>{{ object.purchase_order }}</td>
      </tr>
      {% if object.purchase_date and object.purchase_date.strip %}
      <tr class="success">
      {% else %}
      <tr class="info">
      {% endif %}
        <th>Purchase Date</th>
        <td>{{ object.purchase_date }}</td>
      </tr>
      {% if object.purchase_cost and object.purchase_cost.strip %}
      <tr class="success">
      {% else %}
      <tr class="info">
      {% endif %}
        <th>Cost</th>
        <td>{{ object.purchase_cost }}</td>
      </tr>
      {% if object.funded_by and object.funded_by.strip %}
      <tr class="success">
      {% else %}
      <tr class="info">
      {% endif %}
        <th>Funded By</th>
        <td>{{ object.funded_by }}</td>
      </tr>
      {% if object.hardware_type and object.hardware_type.strip %}
      <tr class="success">
      {% else %}
      <tr class="danger">
      {% endif %}
        <th>Type (MAC or PC)</th>
        <td>{{ object.hardware_type }}</td>
      </tr>
      {% if object.hardware_make and object.hardware_make.strip %}
      <tr class="success">
      {% else %}
      <tr class="danger">
      {% endif %}
        <th>Make</th>
        <td>{{ object.hardware_make }}</td>
      </tr>
      {% if object.hardware_model and object.hardware_model.strip %}
      <tr class="success">
      {% else %}
      <tr class="danger">
      {% endif %}
        <th>Model</th>
        <td>{{ object.hardware_model }}</td>
      </tr>
      {% if object.hardware_serial_number and object.hardware_serial_number.strip %}
      <tr class="success">
      {% else %}
      <tr class="danger">
      {% endif %}
        <th>Serial Number</th>
        <td>{{ object.hardware_serial_number }}</td>
      </tr>
      {% if object.network_connection and object.network_connection.strip %}
      <tr class="success">
      {% else %}
      <tr class="danger">
      {% endif %}
        <th>Network Connection</th>
        <td>{{ object.network_connection }}</td>
      </tr>
      {% if object.ip_address and object.ip_address.strip %}
      <tr class="success">
      {% else %}
      <tr class="info">
      {% endif %}
        <th>IP Address</th>
        <td>{{ object.ip_address }}</td>
      </tr>
      {% if object.mac_wired and object.mac_wired.strip %}
      <tr class="success">
      {% else %}
      <tr class="info">
      {% endif %}
        <th>MAC Address</th>
        <td>{{ object.mac_wired }}</td>
      </tr>
      {% if object.mac_wireless and object.mac_wireless.strip %}
      <tr class="success">
      {% else %}
      <tr class="info">
      {% endif %}
        <th>MAC Wireless Address</th>
        <td>{{ object.mac_wireless }}</td>
      </tr>
      {% if object.processor and object.processor.strip %}
      <tr class="success">
      {% else %}
      <tr class="danger">
      {% endif %}
        <th>Processor</th>
        <td>{{ object.processor }}</td>
      </tr>
      {% if object.harddrive and object.harddrive.strip %}
      <tr class="success">
      {% else %}
      <tr class="danger">
      {% endif %}
        <th>HDD</th>
        <td>{{ object.harddrive }}</td>
      </tr>
      {% if object.ram and object.ram.strip %}
      <tr class="success">
      {% else %}
      <tr class="danger">
      {% endif %}
        <th>RAM</th>
        <td>{{ object.ram }}</td>
      </tr>
      {% if object.graphics and object.graphics.strip %}
      <tr class="success">
      {% else %}
      <tr class="info">
      {% endif %}
        <th>Graphics Card</th>
        <td>{{ object.graphics }}</td>
      </tr>
      {% if object.os and object.os.strip %}
      <tr class="success">
      {% else %}
      <tr class="danger">
      {% endif %}
        <th>OS</th>
        <td>{{ object.os }}</td>
      </tr>
      {% if object.os_arch and object.os_arch.strip %}
      <tr class="success">
      {% else %}
      <tr class="danger">
      {% endif %}
        <th>OS Architecture</th>
        <td>{{ object.os_arch }}</td>
      </tr>
      {% if object.active_directory and object.active_directory.strip %}
      <tr class="success">
      {% else %}
      <tr class="danger">
      {% endif %}
        <th>On Domain</th>
        <td>{{ object.active_directory }}</td>
      </tr>
      {% if object.organizational_unit and object.organizational_unit.strip %}
      <tr class="success">
      {% else %}
      <tr class="danger">
      {% endif %}
        <th>OU Location</th>
        <td>{{ object.organizational_unit }}</td>
      </tr>
      {% if object.sccm and object.sccm.strip %}
      <tr class="success">
      {% else %}
      <tr class="info">
      {% endif %}
        <th>Listed in SCCM</th>
        <td>{{ object.sccm }}</td>
      </tr>
      {% if object.jamf and object.jamf.strip %}
      <tr class="success">
      {% else %}
      <tr class="info">
      {% endif %}
        <th>Listed in JAMF</th>
        <td>{{ object.jamf }}</td>
      </tr>
      {% if object.scep and object.scep.strip %}
      <tr class="success">
      {% else %}
      <tr class="info">
      {% endif %}
        <th>Has SCEP Installed</th>
        <td>{{ object.scep }}</td>
      </tr>
      {% if object.identity_finder and object.identity_finder.strip %}
      <tr class="success">
      {% else %}
      <tr class="info">
      {% endif %}
        <th>Has Identity Finder</th>
        <td>{{ object.identity_finder }}</td>
      </tr>
      <tr>
        <th>Notes</th>
        <td>{{ object.notes }}</td>
      </tr>
      <tr>
        <th>Date Added</th>
        <td>{{ object.added_date }}</td>
      </tr>
      <tr>
        <th>Added By</th>
        <td>{{ object.added_by }}</td>
      </tr>
      <tr>
        <th>Date Modified</th>
        <td>{{ object.modified_date }}</td>
      </tr>
      <tr>
        <th>Modified By</th>
        <td>{{ object.modified_by }}</td>
       </tr>