{% extends "main_app/base.html" %}
{% load bootstrap3 %}

{% block title %}<title>COS Delete Journal</title>{% endblock %}

{% block header %}
<div class="header">
  <h1>COS Journals | <strong>Delete Journal</strong></h1>
</div>
{% endblock header %}

{% block content %}
<div class="btn-group">
  <a href="{{ object.get_absolute_url }}" class='btn btn-primary' role="button">{% bootstrap_icon "arrow-left" %} Back</a>
  <a href="{% url 'post_list' %}" class='btn btn-info' role="button">{% bootstrap_icon "list" %} Journals</a>
</div>

<div class="spacing">
    <p></p>
</div>

<div class="forms">
  <p>Are you sure you want to delete the journal: <strong>{{ object }}?</strong></p>
  <form action="" method="POST" class="form">
    {% csrf_token %}
    {% buttons %}
      <button class='btn btn-danger' type="submit">{% bootstrap_icon "remove" %} Confirm deletion</button>
    {% endbuttons %}
  </form>
</div>
{% endblock %}
