{% extends "main_app/base.html" %}
{% load bootstrap3 %}
{% load widget_tweaks %}

{% block title %}<title>COS Journals</title>{% endblock %}

{% block header %}
<div class="header">
  <h1>COS Journals | <strong>Journal List</strong></h1>
</div>
{% endblock header %}

{% block content %}
<div class="btn-group">
  <a href="{% url 'post_new' %}" class='btn btn-primary' role="button">{% bootstrap_icon "new" %} New Journal</a>
</div>

<div class="spacing">
  <p></p>
</div>

<div class="form">
    <form method="get">
      <div class="well">
        <h4 style="margin-top: 0">Filter</h4>
        <div class="row">
          <div class="form-group col-sm-4 col-md-3">
            {{ filter.form.author.label_tag }}
            {% render_field filter.form.author class="form-control" %}
          </div>
          <div class="form-group col-sm-4 col-md-3">
            {{ filter.form.title.label_tag }}
            {% render_field filter.form.title class="form-control" %}
          </div>
          <div class="form-group col-sm-4 col-md-3">
              {{ filter.form.text.label_tag }}
              {% render_field filter.form.text class="form-control" %}
            </div>
          <div class="form-group col-sm-4 col-md-3">
            {{ filter.form.published_date.label_tag }}
            {% render_field filter.form.published_date class="form-control" %}
          </div>
        </div>
        <div class="btn-group">
          <button type="submit" class="btn btn-primary">{% bootstrap_icon "search" %} Search</button>
          <a href="{% url 'post_list' %}" class='btn btn-default' role="button">{% bootstrap_icon "refresh" %} Clear</a>
        </div>
        <div>
        </div>
      </div>
    </form>
  </div>

<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Author</th>
        <th>Title</th>
        <th>text</th>
        <th>Date Published</th>
      </tr>
    </thead>
    <tbody>
      {% for posts in post_list %}
        <tr>
          <th>{{ posts.author }}</th>
          <td><a href="{{ posts.get_absolute_url }}">{{ posts.title }}</a></td>
          <td>{{ posts.brief_text }}</td>
          <td>{{ posts.published_date }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% bootstrap_pagination post_list extra=request.GET.urlencode %}
{% endblock %}