{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}<title>COS</title>{% endblock %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Add additional CSS in static file -->
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body>
    <!-- Static nabvar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-hearder">
          <button type="button" class="navbar-toggle collapsed" 
            data-toggle="collapse" data-target="#navbar" 
            aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">COS Home</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'about' %}">About</a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li><a href="{% url 'assets' %}">Inventory</a></li>
            {% if user.is_authenticated %}
              <a href="{% url 'asset_new' %}" style="color:black">{% bootstrap_icon "plus-sign" %}</a>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav">
              <li><a href="{% url 'directory_list' %}">Directory</a></li>
              {% if user.is_authenticated %}
                <a href="{% url 'contact_new' %}" style="color:black">{% bootstrap_icon "plus-sign" %}</a>
              {% endif %}
            </ul>
          <ul class="nav navbar-nav">
            <li><a href="{% url 'wiki:root' %}">Wiki</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li><a>Hello, {{ user.username }}</a></li>
              <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
            {% else %}
              <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="content container">
      <div class="page-header">
        {% block header %}{% endblock header %}
      </div>
      <div>
        {% block content %}{% endblock content %}
      </div>
      <footer><small><a href="https://github.com/tylerhardy/cos_project">github.com/tylerhardy/cos_project</a></small></footer>  
    </div><!-- /container -->
  </body>
</html>