{% extends "main_project/base.html" %}
{% load bootstrap3 %}

{% block title %}<title>COS Directory | Contact Form</title>{% endblock %}

{% block header %}
<div class="header">
  <div class='btn-toolbar pull-right'>
    <div class='btn-group'>
      <a href="javascript:history.go(-1)" class='btn btn-default' role="button">{% bootstrap_icon "arrow-left" %} Back</a>
      <a href="{% url 'directory_list' %}" class='btn btn-info' role="button">{% bootstrap_icon "list" %} Directory</a>
    </div>
  </div>
  {% if new %}
  <h1>COS Directory | <strong>New Contact</strong></h1>
  {% else %}
  <h1>COS Directory | <strong>Edit Contact</strong></h1>
  {% endif %}
</div>
{% endblock header %}

{% block content %}
<div class="forms">
  <form action="" method="POST" class="form">
    <div class="form-group">
      <div class="btn-group">
        <button class='btn btn-primary' type="submit">{% bootstrap_icon "save" %} Save</button>
        <button class='btn btn-default' type="reset">{% bootstrap_icon "remove" %} Reset</button>
      </div>
    </div>

    {% csrf_token %}
    {% bootstrap_form form %}

    <div class="form-group">
      <div class="btn-group">
        <button class='btn btn-primary' type="submit">{% bootstrap_icon "save" %} Save</button>
        <button class='btn btn-default' type="reset">{% bootstrap_icon "remove" %} Reset</button>
      </div>
    </div>
  </form>
</div>
{% endblock content %}