{% extends "main_project/base.html" %}
{% load bootstrap3 %}

{% block title %}<title>COS Directory | Contact Form</title>{% endblock %}

{% block header %}
<div class="header">
{% if new %}
  <h1>COS Directory | <strong>New Contact</strong></h1>
{% else %}
  <h1>COS Directory | <strong>Edit Contact</strong></h1>
{% endif %}
</div>
{% endblock header %}

{% block content %}
<div class="forms">
  <form action="" method="POST" class="form">
    <div class="btn-group">
      <a href="javascript:history.go(-1)" class='btn btn-primary' role="button">{% bootstrap_icon "arrow-left" %} Back</a>
      <a href="{% url 'directory_list' %}" class='btn btn-info' role="button">{% bootstrap_icon "list" %} Directory</a>
      <button class='btn btn-warning' type="reset">{% bootstrap_icon "refresh" %} Reset</button>
    {% if new %}
      <button class='btn btn-success' type="submit">{% bootstrap_icon "save" %} Add</button>
    {% else %}
      <button class='btn btn-success' type="submit">{% bootstrap_icon "save" %} Edit</button>
    {% endif %}
    </div>
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="btn-group">
      <a href="javascript:history.go(-1)" class='btn btn-primary' role="button">{% bootstrap_icon "arrow-left" %} Back</a>
      <a href="{% url 'directory_list' %}" class='btn btn-info' role="button">{% bootstrap_icon "list" %} Directory</a>
      <button class='btn btn-warning' type="reset">{% bootstrap_icon "refresh" %} Reset</button>
    {% if new %}
      <button class='btn btn-success' type="submit">{% bootstrap_icon "save" %} Add</button>
    {% else %}
      <button class='btn btn-success' type="submit">{% bootstrap_icon "save" %} Edit</button>
    {% endif %}
    </div>
  </form>
</div>
{% endblock %}