{% extends 'main_project/base.html' %}
{% load bootstrap3 %}

{% block title %}<title>COS Directory | Detail</title>{% endblock %}

{% block header %}
<div class="header">
  <div class='btn-toolbar pull-right'>
    <div class='btn-group'>
      <a href="javascript:history.go(-1)" class='btn btn-default' role="button">{% bootstrap_icon "arrow-left" %} Back</a>
      <a href="{% url 'directory_list' %}" class='btn btn-info' role="button">{% bootstrap_icon "list" %} Directory</a>
    </div>
  </div>
  <h1>COS Directory |
    <strong>{{object}}</strong></h1>
</div>
{% endblock header %}

{% block content %}
<div class="panel panel-lg panel-custom">.
  <div class="panel-heading">
    <img src="{{ object.image.image}}">
  </div>
</div>

<div class="table-responsive" style="border:0">
  <div class="panel panel-default">
    <div class="panel-heading"><strong><center>Contact Info</center></strong></div>
    <table class="table table-condensed table-hover">
      <tr>
        <th style="width:50%">Status</th>
        {% if object.current_status == 'current' %}
        <td style="width:50%" class="success">{{ object.get_status_display }}</td>
        {% elif object.current_status == 'sabbatical' %}
        <td style="width:50%" class="warning">{{ object.get_status_display }}</td>
        {% elif object.current_status == 'adjunct' %}
        <td style="width:50%" class="info">{{ object.get_status_display }}</td>
        {% else %}
        <td style="width:50%" class="danger">{{ object.get_status_display }}</td>
        {% endif %}
      </tr>
      <tr>
        <th>First Name</th>
        <td>{{ object.first_name }}</td>
      </tr>
      <tr>
        <th>Last Name</th>
        <td>{{ object.last_name }}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ object.email_address }}</td>
      </tr>
      <tr>
        <th>Department</th>
        {% if object.department and object.department.strip %}
        <td>{{ object.get_department_display }}</td>
        {% else %}
        <td class="warning">{{ object.get_department_display }}</td>
        {% endif %}
      </tr>
      <tr>
        <th>Job Title</th>
        {% if object.job_title and object.job_title.strip %}
        <td>{{ object.job_title }}</td>
        {% else %}
        <td class="warning"></td>
        {% endif %}
      </tr>
      <tr>
        <th>Office Ext.</th>
        {% if object.phone_number_1 and object.phone_number_1.strip %}
        <td>{{ object.phone_number_1 }}</td>
        {% else %}
        <td class="warning">{{ object.phone_number_1 }}</td>
        {% endif %}
      </tr>
      <tr>
        <th>Cell Number</th>
        {% if object.phone_number_2 and object.phone_number_2.strip %}
        <td>{{ object.phone_number_2 }}</td>
        {% else %}
        <td class="info">{{ object.phone_number_2 }}</td>
        {% endif %}
      </tr>
      <tr>
        <th>Office Location</th>
        {% if object.location and object.location.strip %}
        <td>{{ object.location }}</td>
        {% else %}
        <td class="warning"></td>
        {% endif %}
      </tr>
      <tr>
        <th>Website</th>
        {% if object.website and object.website.strip %}
        <td><a href="{{object.website}}">{{ object.website }}</a></td>
        {% else %}
        <td class="info"></td>
        {% endif %}
      </tr>
      <tr>
        <th>Last visit</th>
        {% if object.visit_past_due == 'no_visit_performed' %}
        <td class="info">{{ object.last_visit|date:"M d, Y" }}</td>
        {% elif object.visit_past_due == 'visit_good' %}
        <td class="success">{{ object.last_visit|date:"M d, Y" }}</td>
        {% elif object.visit_past_due == 'visit_old' %}
        <td class="warning">{{ object.last_visit|date:"M d, Y" }}</td>
        {% elif object.visit_past_due == 'need_visit' %}
        <td class="danger">{{ object.last_visit|date:"M d, Y" }}</td>
        {% elif object.visit_past_due == 'error' %}
        <td class="danger">{{ object.last_visit|date:"M d, Y" }}</td>
        {% else %}
        <td>{{ object.last_visit|date:"M d, Y" }}</td>
        {% endif %}
      </tr>
    </table>
  </div>
</div>

<div class="panel" style="border:0; box-shadow: none;">
  <div class="btn-group">
    <a href="{% url 'contact_update' object.id %}" class='btn btn-primary' role="button">{% bootstrap_icon "pencil" %} Edit</a>
    <a href="{% url 'date_update' object.id %}"class='btn btn-default' role="button">{% bootstrap_icon "ok" %} Visited</a>
    <a href="{% url 'contact_delete' object.id %}" class='btn btn-default' role="button">{% bootstrap_icon "remove" %} Delete</a>
  </div>
</div>
{% endblock content %}